// Variables

$primary-color-green: #00ff9b;
$primary-color-blue: #5f84fb;
$color-white: #fff;
$transform-opacity: opacity 300ms linear;

.weather-slide-menu {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  pointer-events: none;
  z-index: 1;

  &__content {
    box-sizing: border-box;
    transform: translateX(-103%);
    position: relative;
    top: 0;
    left: 0;
    z-index: 10;
    height: 100%;
    width: 90%;
    max-width: 26rem;
    background-color: $color-white;
    box-shadow: 0 0 2rem rgba(0, 0, 255, 0.1);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 4fr 1fr;
    grid-gap: 1rem;
    transition: transform 300ms linear;
    will-change: transform;

    &--active {
      transform: none;
    }

    &__header {
      background: linear-gradient(to right, $primary-color-green, $primary-color-blue);
      display: grid;
      grid-template-rows: 1fr 4fr;
      grid-template-columns: 1fr 4fr;
      grid-template-areas: "greeting greeting""image details";
      box-sizing: border-box;
      width: 100%;
      align-content: center;
      color: $color-white;
      box-shadow: 0 0.5rem 2rem rgba(0, 0, 255, 0.2);

      &--title {
        grid-area: greeting;
        font-size: 1.25rem;
        letter-spacing: 0.15rem;
        text-transform: uppercase;
        margin-top: 1rem;
        justify-self: center;
        align-self: center;
      }

      &__profile {
        grid-area: image;
        margin-right: 0.5rem;
        border-radius: 50%;
        height: 4rem;
        width: 4rem;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $color-white;
        align-self: center;
        margin-left: 2rem;

        &--img {
          max-width: 4rem;
        }
      }

      &__account-details {
        grid-area: details;
        display: flex;
        flex-flow: column;
        margin-left: 1rem;
        align-self: center;

        &--name {
          font-size: 1.15rem;
          margin-bottom: 0.5rem;
        }

        &--email {
          font-size: 0.9rem;
          letter-spacing: 0.1rem;
        }
      }
    }

    &__body {
      display: grid;
      width: 100%;
    }
  }

  &--active {
    pointer-events: auto;

    &::before {
      opacity: 0.3;
    }
  }

  &::before {
    content: "";
    cursor: pointer;
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: $transform-opacity;
    will-change: opacity;
  }
}

.weather-container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 0.5fr auto;
  position: relative;

  &__header {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr auto;
    grid-template-rows: 1fr;
    box-shadow: 0 0 2rem rgba(0, 0, 255, 0.1);
    height: 4rem;
    margin: 0;
    align-items: center;
    transition: background-color 500ms linear;
    animation: 1s ease-in-out 0ms 1 fadein;

    &--dark {
      background-color: #2c354a;
      box-shadow: 0 0 2rem rgba(255, 255, 255, 0.1);
      color: $color-white;
    }

    &--date-text {
      text-transform: uppercase;
      letter-spacing: 0.1rem;
      display: inline;
      margin: 0.5rem 0;
    }

    &__menu {
      display: grid;
      grid-template-rows: 1fr;
      grid-template-columns: 1fr 1fr;
      max-width: 5rem;

      &--icon {
        position: relative;
        z-index: 35;
        height: 1rem;
        padding: 0.5rem 1.5rem;
        margin-right: 1rem;
        cursor: pointer;
      }
    }

    &__toggle {
      cursor: pointer;
      display: inline-block;

      &--checkbox {
        position: absolute;
        visibility: hidden;
      }

      &--label {
        margin: 0 1rem;
        position: relative;
        top: 2px;
      }

      &__switch {
        display: inline-block;
        background: #ccc;
        border-radius: 1rem;
        width: 3.625rem;
        height: 2rem;
        position: relative;
        vertical-align: middle;
        transition: background 0.25s;

        &:before,
        &:after {
          content: "";
        }

        &:before {
          display: block;
          background: linear-gradient(to bottom, $color-white 0%, #eee 100%);
          border-radius: 50%;
          width: 24px;
          height: 24px;
          position: absolute;
          top: 4px;
          left: 4px;
          transition: left 0.25s;
        }

        .toggle:hover &:before {
          background: linear-gradient(to bottom, $color-white 0%, $color-white 100%);
          box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5);
        }

        .weather-container__header__toggle--checkbox:checked+& {
          &:before {
            left: 30px;
          }
        }
      }
    }
  }

  &__main {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0;
    background: $color-white;
    transition: $transform-opacity;

    &--dark {
      opacity: 1;
      background: #2c354a;
      transition: $transform-opacity;
    }
  }
}